In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [5]:
dataset=pd.get_dummies(dataset, dtype=int, drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
indep=dataset[['age', 'sex_male', 'bmi', 'children', 'smoker_yes']]
dep=dataset[['charges']]

In [8]:
indep

      age  sex_male     bmi  children  smoker_yes
0      19         0  27.900         0           1
1      18         1  33.770         1           0
2      28         1  33.000         3           0
3      33         1  22.705         0           0
4      32         1  28.880         0           0
...   ...       ...     ...       ...         ...
1333   50         1  30.970         3           0
1334   18         0  31.920         0           0
1335   18         0  36.850         0           0
1336   21         0  25.800         0           0
1337   61         0  29.070         0           1

[1338 rows x 5 columns]

In [9]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
indep=sc.fit_transform(indep)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score

# Define parameter grid as a dictionary
param_grid = {
    'copy_X': [True, False],
    'fit_intercept': [True, False],
    'n_jobs': [None, 1, -1],
    'positive': [True, False]
}

grid = GridSearchCV(LinearRegression(), param_grid, refit=True, verbose=3, n_jobs=-1)

# Assuming X_train and y_train are your training data
grid.fit(indep, dep)

# Access cv_results_
re = grid.cv_results_
grid_predictions = grid.predict(indep)

# Calculate R^2 score
r_score = r2_score(dep, grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_), r_score)

Fitting 5 folds for each of 24 candidates, totalling 120 fits
The R_score value for best parameter {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': True}: 0.749694530346479

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_copy_X,param_fit_intercept,param_n_jobs,param_positive,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006249,0.007653,0.021870,0.012497,True,True,None,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
1,0.025027,0.015810,0.001238,0.000391,True,True,None,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
2,0.003192,0.000399,0.001589,0.000483,True,True,1,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
3,0.004111,0.001513,0.000842,0.000528,True,True,1,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
4,0.009255,0.011066,0.007672,0.007464,True,True,-1,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
5,0.003077,0.000166,0.001650,0.000542,True,True,-1,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
6,0.002855,0.000441,0.001458,0.000452,True,False,None,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,13
7,0.004324,0.002815,0.001309,0.000406,True,False,None,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,19
8,0.002993,0.000631,0.001596,0.000489,True,False,1,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,13
9,0.002194,0.000399,0.001596,0.000488,True,False,1,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,19
10,0.008344,0.000924,0.000798,0.000746,True,False,-1,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,13
11,0.002596,0.000491,0.001596,0.000489,True,False,-1,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,19
12,0.002458,0.001235,0.000862,0.000774,False,True,None,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
13,0.000463,0.000927,0.000000,0.000000,False,True,None,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
14,0.000000,0.000000,0.000000,0.000000,False,True,1,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
15,0.000000,0.000000,0.003125,0.006249,False,True,1,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
16,0.012497,0.006249,0.000000,0.000000,False,True,-1,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
17,0.003125,0.006249,0.000000,0.000000,False,True,-1,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
18,0.003125,0.006249,0.000000,0.000000,False,False,None,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,13
19,0.000000,0.000000,0.006248,0.007653,False,False,None,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,19
20,0.000000,0.000000,0.003124,0.006248,False,False,1,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,13
21,0.000000,0.000000,0.003124,0.006248,False,False,1,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,19
22,0.009372,0.007652,0.000000,0.000000,False,False,-1,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,13
23,0.000000,0.000000,0.000000,0.000000,False,False,-1,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,19

In [14]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [15]:
# Fit the model
regressor.fit(indep, dep)
dep=regressor.predict(indep)

In [16]:
import pickle

In [17]:
filename="mullinegrid_final.sav"
pickle.dump(regressor,open(filename,"wb"))

In [18]:
model=pickle.load(open(filename,"rb"))

In [19]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age: 23
BMI: 33
Children: 2
Sex Male 0 or 1: 0
Smoker Yes 0 or 1: 1

In [20]:
preinput=sc.transform([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
preinput

C:\Users\rohit\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[-1.1539595 , 64.99309452, -4.70207204, -0.90861367,  1.97058663]])

In [21]:
Future_Prediction=grid.predict(preinput)

#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[[18282.87195417]]