In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset, dtype=int, drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.ensemble import RandomForestRegressor

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = {
    'criterion': ['squared_error', 'absolute_error'],
    'max_features': ['auto', 'sqrt', 'log2'],
    'n_estimators': [50, 100],
}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)

# Fitting the model for grid search
grid.fit(X_train, y_train)

# Print best parameters after tuning
print("Best parameters:", grid.best_params_)

# Predictions
grid_predictions = grid.predict(X_test)

# Print R2 score
from sklearn.metrics import r2_score
r_score = r2_score(y_test, grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_), r_score)

# Results table
import pandas as pd
re = grid.cv_results_
table = pd.DataFrame.from_dict(re)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
Best parameters: {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100}
The R_score value for best parameter {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100}: 0.8737038990756514

In [11]:
table=pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.181209,0.007652,0.006249,7.653721e-03,squared_error,auto,50,"{'criterion': 'squared_error', 'max_features':...",0.796679,0.739752,0.833454,0.798915,0.767840,0.787328,0.031599,12
1,0.352804,0.011629,0.009127,7.455198e-03,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.806415,0.749773,0.831641,0.803961,0.765326,0.791423,0.029716,9
2,0.139052,0.009412,0.006715,5.020080e-03,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.805707,0.763000,0.842660,0.833188,0.767051,0.802321,0.032807,3
3,0.274948,0.012488,0.009373,7.653098e-03,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.802618,0.784725,0.844205,0.829112,0.758249,0.803782,0.030703,1
4,0.134344,0.007653,0.009373,7.652787e-03,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.801486,0.759220,0.840057,0.828045,0.755311,0.796824,0.034650,7
5,0.265562,0.009880,0.006248,7.652553e-03,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.806957,0.769371,0.839134,0.825807,0.765358,0.801326,0.029581,4
6,0.573408,0.006182,0.003999,5.832896e-03,absolute_error,auto,50,"{'criterion': 'absolute_error', 'max_features'...",0.785769,0.776856,0.814885,0.811141,0.761099,0.789950,0.020455,10
7,1.113217,0.008209,0.015621,2.611745e-07,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.786036,0.766474,0.818778,0.805791,0.760063,0.787428,0.022405,11
8,0.347138,0.009924,0.003124,6.248569e-03,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.791073,0.773868,0.832594,0.816636,0.756174,0.794069,0.027736,8
9,0.714073,0.012497,0.006249,7.653020e-03,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.803581,0.770152,0.837761,0.822769,0.760354,0.798924,0.029712,5
10,0.347766,0.006063,0.006249,7.653020e-03,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.798372,0.772880,0.836170,0.820996,0.759300,0.797543,0.028683,6
11,0.556441,0.021137,0.000000,0.000000e+00,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.802114,0.772888,0.838400,0.832782,0.766284,0.802494,0.029646,2

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age: 23
BMI: 33
Children: 2
Sex Male 0 or 1: 0
Smoker Yes 0 or 1: 1

In [14]:
preinput=sc.transform([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
preinput

C:\Users\rohit\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[-1.18217616,  0.37742013,  0.75672907, -0.98885138,  2.00280702]])

In [15]:
Future_Prediction=grid.predict(preinput)

#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[35400.6198953]