In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset, dtype=int, drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.ensemble import RandomForestRegressor

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = {
    'criterion':['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],
    'max_features': ['sqrt', 'log2', None],
    'n_estimators': [50, 100],
}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)

# Fitting the model for grid search
grid.fit(X_train, y_train)

# Print best parameters after tuning
print("Best parameters:", grid.best_params_)

# Predictions
grid_predictions = grid.predict(X_test)

# Print R2 score
from sklearn.metrics import r2_score
r_score = r2_score(y_test, grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_), r_score)

# Results table
import pandas as pd
re = grid.cv_results_
table = pd.DataFrame.from_dict(re)

Fitting 5 folds for each of 24 candidates, totalling 120 fits
Best parameters: {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}
The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}: 0.8753855309557746

In [11]:
table=pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.154589,0.007166,0.006498,0.000549,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.810986,0.762892,0.839294,0.820110,0.766992,0.800055,0.030119,6
1,0.303562,0.017356,0.011696,0.000405,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.799272,0.774631,0.837012,0.829608,0.761853,0.800475,0.029478,5
2,0.142376,0.006774,0.009405,0.006809,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.807321,0.768070,0.833721,0.834262,0.754018,0.799479,0.033158,7
3,0.337950,0.016745,0.011806,0.000613,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.805344,0.768751,0.839484,0.825426,0.763548,0.800511,0.030126,4
4,0.203366,0.012908,0.008389,0.004806,squared_error,None,50,"{'criterion': 'squared_error', 'max_features':...",0.808230,0.754978,0.841286,0.797756,0.758373,0.792125,0.032332,19
5,0.423463,0.040581,0.013295,0.002821,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",0.802466,0.752978,0.839391,0.811006,0.760702,0.793309,0.032281,18
6,0.185541,0.029057,0.007008,0.000765,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.804587,0.750509,0.826674,0.822313,0.767761,0.794369,0.030201,17
7,0.311664,0.036751,0.011391,0.001116,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.804014,0.760406,0.837031,0.825355,0.765661,0.798493,0.030873,11
8,0.188560,0.030972,0.008797,0.006101,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.805889,0.750462,0.830100,0.834670,0.753200,0.794864,0.036483,16
9,0.321967,0.028162,0.013798,0.002339,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.802158,0.770233,0.840011,0.834237,0.759656,0.801259,0.032507,2
10,0.210216,0.024005,0.007195,0.001884,friedman_mse,None,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.804987,0.731925,0.835212,0.804872,0.759601,0.787320,0.036744,22
11,0.425811,0.038036,0.013897,0.002884,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.797642,0.752378,0.830614,0.805231,0.765385,0.790250,0.028146,21
12,0.426679,0.033795,0.006294,0.001036,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.808270,0.768280,0.834166,0.825724,0.748468,0.796981,0.033207,13
13,0.791918,0.057717,0.012493,0.001756,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.807930,0.776408,0.834329,0.829826,0.764644,0.802627,0.027939,1
14,0.433430,0.045330,0.006701,0.000499,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.798372,0.765340,0.832974,0.833630,0.762515,0.798566,0.031039,10
15,0.803804,0.041901,0.010992,0.001000,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.796561,0.767420,0.836360,0.824250,0.764554,0.797829,0.029039,12
16,0.650586,0.016515,0.005599,0.000655,absolute_error,None,50,"{'criterion': 'absolute_error', 'max_features'...",0.785293,0.776447,0.812161,0.793418,0.751730,0.783810,0.019908,24
17,1.268689,0.072603,0.012704,0.001864,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.783001,0.764604,0.819634,0.795984,0.761793,0.785003,0.021348,23
18,0.193672,0.026224,0.008995,0.006275,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.805590,0.768372,0.834452,0.836493,0.760434,0.801068,0.031969,3
19,0.364559,0.030305,0.012985,0.002552,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.803799,0.762736,0.840463,0.830597,0.757086,0.798936,0.034095,8
20,0.176805,0.016634,0.006292,0.000924,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.797403,0.766640,0.833879,0.828181,0.757235,0.796668,0.031096,14
21,0.317850,0.008819,0.012302,0.001505,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.810985,0.766591,0.832186,0.824723,0.759255,0.798748,0.030121,9
22,0.206489,0.009015,0.006795,0.000977,poisson,None,50,"{'criterion': 'poisson', 'max_features': None,...",0.804320,0.757328,0.838887,0.805404,0.768762,0.794940,0.029082,15
23,0.369487,0.012695,0.009289,0.001632,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.802379,0.758766,0.833176,0.798833,0.766749,0.791981,0.026803,20

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age: 23
BMI: 33
Children: 2
Sex Male 0 or 1: 0
Smoker Yes 0 or 1: 1

In [14]:
preinput=sc.transform([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
preinput

C:\Users\rohit\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[-1.18217616,  0.37742013,  0.75672907, -0.98885138,  2.00280702]])

In [15]:
Future_Prediction=grid.predict(preinput)

#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[36457.6958688]